

@media (max-width:575px){
	body{background:red;color:white;}
	.ismi{width:200px;height:200px;background:gold;border-dadius:10px;}
}

@media (min-width:576px) and (max-width:767px){
	
	body{background:green;}
	.ismi{width:100px;height:100px;border-radius:10px;background:gold;margin-auto;}
}

@media (min-width:768px) and (max-width:991px){
	body{background:gold;}
}
@media (min-width:992px) and (max-width:1200px){
	body{background:navy;}
}

@media (min-white:1199px){
	body{background:pink;}
}